{{ template "header.html" .}}

<form id="myForm">
  <input type="text" name="task" id="task" placeholder="Task">
  <input type="text" name="owner" id="owner" placeholder="donat1977">
  <button type="submit">Submit</button>
</form>

<script>
  document.getElementById("myForm").addEventListener("submit", function(event) {
    event.preventDefault(); // Prevent default form submission
  
    // Get form data
    const formData = {
      task: document.getElementById("task").value,
      owner: document.getElementById("owner").value
    };

    // Convert form data to JSON
    const jsonData = JSON.stringify(formData);

    // Send POST request
    fetch("/addTask/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "mami": "mami-papi",
      },
      body: jsonData
    })
    .then(response => {
        if (response.redirected) {
            const redirectUrl = response.url;
            window.location.href = redirectUrl;
        } else {
            return response.json();
        }
    })
    .then(data => {
      // Handle response data
      console.log(data);
    })
    .catch(error => {
      // Handle errors
      console.error("Error:", error);
    });
  });
</script>

  

{{ template "footer.html" .}}

