{{ template "header.html" .}}
{{ template "menu.html" . }}

  <h1>Your tasks!</h1>

  <br>
  <a>---------------------------Deadline reached!!!!!------------------------------------------------------</a>
  <br>
  {{range .tasksO }}

    <div>

      <a>{{.Task}}</a>
      <a>{{.DeadLStr}}</a>        
      <form method="post" action="/prolong/{{.ID}}/1" class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Prolong with 1 day
        </button>
      </form>  
      <form method="post" action="/prolong/{{.ID}}/7" class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Prolong with 7 days
        </button>
      </form>  
      <form method="post" action="/prolong/{{.ID}}/30" class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Prolong with 30 days
        </button>
      </form>  
      <form method="post" action="/delete/{{.ID}}" class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Delete it
        </button>
      </form>  
    </div>
    
    
  {{end}}

  <br>
  <a>---------------------------Before deadline-------------------------------------------------------------</a>
  <br>

  {{range .tasksN }}

    <div>

      <a>{{.Task}}</a>
      <a>{{.DeadLStr}}</a>    
      <form method="post" action="/prolong/{{.ID}}/1" class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Prolong with 1 day
        </button>
      </form>  
      <form method="post" action="/prolong/{{.ID}}/7" class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Prolong with 7 days
        </button>
      </form>  
      <form method="post" action="/prolong/{{.ID}}/30" class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Prolong with 30 days
        </button>
      </form>  
      <form method="post" action="/delete/{{.ID}}" class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Delete it
        </button>
      </form>  
    </div>
    
    
  {{end}}
{{ template "footer.html" .}}