{{ template "header.html" .}}
{{ template "menu.html" . }}

  <h1>Your tasks!</h1>

  <br>
  <a>---------------------------Deadline reached!!!!!------------------------------------------------------</a>
  <br>
  {{range .tasksO }}

    <div>
      
      <form method="post" action="/delete/{{.ID}}" class="inline">
        <a>{{.Task}}</a>
        <a>{{.DeadLStr}}</a>
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Delete it
        </button>
      </form>  
    </div>
    
    
  {{end}}

  <br>
  <a>---------------------------Before deadline-------------------------------------------------------------</a>
  <br>

  {{range .tasksN }}

    <div>
      
      <form method="post" action="/delete/{{.ID}}" class="inline">
        <a>{{.Task}}</a>
        <a>{{.DeadLStr}}</a>
        <button type="submit" name="submit_param" value="submit_value" class="link-button">
          Delete it
        </button>
      </form>  
    </div>
    
    
  {{end}}
{{ template "footer.html" .}}